extends layout

block content 
    if mainDeletion.name != null 
        h1 #{title}: !{mainDeletion.name}
    else
        h1 #{title}: !{mainDeletion.id}
    
    div#delete-container
        if numDeletions != null && numDeletions > 1
            h2 The following will also be deleted with this entry: 
            p *To prevent an entry from being a part of the deletion, update its affected fields
                each deletions in otherDeletions 
                    h3 !{deletions.name}:
                    ul
                        each item in deletions.list 
                            li 
                                if item.name != null
                                    a(href=item.url)= item.name
                                else 
                                    a(href=item.url)= item.id

    p Are you sure you want to delete this entry?

    form(method='POST' action='')
        div 
            input(type='hidden' name="id" id="id" required='true', value=mainDeletion.id)

        button(type='submit') Delete