extends layout 

block content 
    div.detail-header 
        h1= nature.name
        if nature.is_verified 
            i(class="fa-solid fa-circle-check")

    div 
        p Increased stat: !{(nature.increased_stat ? nature.increased_stat : 'null')}
        p Decreased stat: !{(nature.decreased_stat ? nature.decreased_stat : 'null')}
        p Likes: !{(nature.likes_flavor ? nature.likes_flavor : 'null')} 
        p Dislikes: !{(nature.hates_flavor ? nature.hates_flavor : 'null')}
    div.detail-list 
        h2 Pokemoninstances with this nature 
        ul
            each pokemoninstance in pokemoninstance_list 
                li
                    a(href=pokemoninstance.url)= pokemoninstance.id
                    p !{pokemoninstance.pokemon.name} 
                    p !{pokemoninstance.status} 

    div.detail-actions
        a.delete-link(href=nature.url + "/delete") Delete Nature
        br
        a.update-link(href=nature.url + "/update") Update Nature