extends layout 

block content 
    h1= title 
    ul 
        each pokemoninstance in pokemoninstance_list 
            li
                a(href=pokemoninstance.url)= pokemoninstance.id
                if pokemoninstance.pokemon.image != null
                    img(src=pokemoninstance.pokemon.image)
                p !{pokemoninstance.pokemon.name}
                p !{pokemoninstance.status}
        else 
            li No results in our database