extends layout 

block content 
    h1= title 
    ul#collection-list-boxes
        each pokemoninstance in pokemoninstance_list 
            li
                a(href=pokemoninstance.url)= pokemoninstance.id
                div#list-image-container
                    if pokemoninstance.pokemon.image != null && pokemoninstance.pokemon.image != ''
                        img(src=pokemoninstance.pokemon.image crossorigin="anonymous")
                    else    
                        i.fa-solid.fa-question
                p !{pokemoninstance.pokemon.name}
                p !{pokemoninstance.status}
        else 
            li No results in our database