extends layout 

block content 
    div.detail-header
        h1= type.name
        if type.is_verified 
            i(class="fa-solid fa-circle-check")

    div.detail-list 
        h2 Pokemon with this type 
        ul
            each poke in pokemon
                li
                    a(href=poke.url)= poke.name
                    img(src=poke.image crossorigin="anonymous")
            else 
                p No pokemon found.
    
    div.detail-actions
        a.delete-link(href=type.url + "/delete") Delete Type
        br
        a.update-link(href=type.url + "/update") Update Type